<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?&family=Bai+Jamjuree:ital,wght@0,400;0,600;1,200&family=Lexend+Deca:wght@300;400&family=Righteous&family=Source+Code+Pro&display=swap">
   
  <!-- CSS for the editor-->
  <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css' integrity='sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==' crossorigin='anonymous'/> -->
  <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/abbott.min.css' integrity='sha512-wmVrx1zhiPOwFCxX7n1aR9vLlXCI3RI0RwizrDSf3/4vEliwboeXwF7HLPZW6k9R6WZt7KCh5fTArAYPyTZ5ag==' crossorigin='anonymous'/> -->
  
  <title>Document</title>
</head>
<body>
  <header>
    <div id="navbar">
      <div>
        <span class="nav-logo"><a class="nav-link" href="#home">HSCK</a></span>
      </div>
      <ul class="nav-menu">
        <li class="nav-item"><a class="nav-link" href="/">Intro</a></li>
        <li class="nav-item"><a class="nav-link" href="/jira">Jira</a></li>
        <li class="nav-item"><a class="nav-link" href="/console">Console</a></li>
        <!-- <li class="nav-item"><a class="nav-link" href="/contact">Contact Me</a></li> -->
      </ul>
      <div class="hamburger" onClick="mobileMenu()">
        <img class="menu-icon" src="/images/icons8-menu-120.png" alt="menu icon">
      </div>
    </div>

    <!-- <div class="slider">
      <span class="dot" onClick="currentSlide(0)"></span>
      <span class="dot" onClick="currentSlide(1)"></span>
      <span class="dot" onClick="currentSlide(2)"></span>
      <span class="dot" onClick="currentSlide(3)"></span>
    </div> -->
  </header>