<%- include("partials/header.ejs") %>

<main id="main">

  <section id="section3">
    <div id="software-development" class="bg">
      <div class="container">
        <div class="job-title">
          <h2>Graduate Software Engineer at WaveOptics</h2>
        </div>
        <div class="editor">
          <div class="row">
            <div class="gutter">01</div><div class="console"><span class="keyword">class</span><span class="variable"> Hyun_Seok_Cho</span> &lcub;</div>
          </div>
          <div class="row">
            <div class="gutter">02</div><br/>
          </div>
          <div class="row">
            <div class="gutter">03</div><div class="console"><span class="dots">··</span><span class="variable">constructor</span>() &lcub;</div>
          </div>
          <div class="row">
            <div class="gutter">04</div><div class="console"><span class="dots">····</span><span class="keyword">this</span>.<span class="property">name</span> = 'Hyun-Seok Cho';</div>
          </div>
          <div class="row">
            <div class="gutter">05</div><div class="console"><span class="dots">····</span><span class="keyword">this</span>.<span class="property">email</span> = 'hschokim12@gmail.com';</div>
          </div>
          <div class="row">
            <div class="gutter">06</div><div class="console"><span class="dots">····</span><span class="keyword">this</span>.<span class="property">position</span> = 'Graduate Software Developer at WaveOptics Ltd.';</div>
          </div>
          <div class="row">
            <div class="gutter">07</div><div class="console"><span class="dots">····</span><span class="keyword">this</span>.<span class="property">date</span> = new Date(2019 - 2021)</div>
          </div>
          <div class="row">
            <div class="gutter">08</div><div class="console"><span class="dots">··</span>&rcub;</div>
          </div>
          <div class="row">
            <div class="gutter">09</div><br/>
          </div>
          <div class="row">
            <div class="gutter">10</div><div class="console"><span class="dots">··</span><span class="variable">responsibilities</span>() &lcub;</div>
          </div>
          <div class="row">
            <div class="gutter">11</div><div class="console"><span class="dots">····</span><span class="keyword">return</span> &lsqb;</div>
          </div>
          <div class="row">
            <div class="gutter">12</div><div class="console"><span class="dots">······</span><span class="key">'Front-end Development'</span> : 'UX/UI front-end development for company ERP website' &rcub;,</div>
          </div>
          <div class="row">
            <div class="gutter">13</div><div class="console"><span class="dots">······</span><span class="key">'Back-end Development'</span> : 'Automation of internal admin processes via micro-services' &rcub;,</div>
          </div>
          <div class="row">
            <div class="gutter">14</div><div class="console"><span class="dots">······</span><span class="key">'Back-end Development'</span> : 'Developed internal REST services for MySQL and NoSQL databases' &rcub;,</div>
          </div>
          <div class="row">
            <div class="gutter">15</div><div class="console"><span class="dots">······</span><span class="key">'Version Control'</span> : 'Git' &rcub;,</div>
          </div>
          <div class="row">
            <div class="gutter">16</div><div class="console"><span class="dots">······</span><span class="key">'Agile Methodologies'</span> : 'Kanban & Sprint' &rcub;,</div>
          </div>
          <div class="row">
            <div class="gutter">17</div><div class="console"><span class="dots">······</span><span class="key">'Testing'</span> : 'Unit, integration and regression testing' &rcub;,</div>
          </div>
          <div class="row">
            <div class="gutter">18</div><div class="console"><span class="dots">······</span><span class="key">'General'</span> : 'Proper documentation of existing and new code' &rcub;,</div>
          </div>
          <div class="row">
            <div class="gutter">19</div><div class="console"><span class="dots">······</span><span class="key">'General'</span> : 'Consistent and clean coding practices using Spring Framework and MVC model' &rcub;,</div>
          </div>
          <div class="row">
            <div class="gutter">20</div><div class="console"><span class="dots">····</span>&rsqb;;</div>
          </div>
          <div class="row">
            <div class="gutter">21</div><div class="console"><span class="dots">··</span>&rcub;</div>
          </div>
          <div class="row">
            <div class="gutter">22</div><br/>
          </div>
          <div class="row">
            <div class="gutter">23</div><div class="console"><span class="dots">··</span><span class="variable">skills</span>() &lcub;</div>
          </div>
          <div class="row">
            <div class="gutter">24</div><div class="console"><span class="dots">····</span><span class="keyword">return</span> &lsqb; 'HTML5', 'CSS3', 'JavaScript', 'Bootstrap/Tailwind', 'React', 'NodeJS', 'NPM/Yarn' 'Express', 'MySQL',</div>
          </div>
          <div class="row">
            <div class="gutter">25</div><div class="console">'MongoDB', 'Spring Framework', 'VSCode', 'Linux', 'GIT' &rsqb;;</div>
          </div>
          <div class="row">
            <div class="gutter">26</div><div class="console"><span class="dots">··</span>&rcub;</div>
          </div>
          <div class="row">
            <div class="gutter">27</div><div class="console">&rcub;</div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<%- include("partials/footer.ejs") %>