<%- include("partials/header.ejs") %>

  <main id="main">
  <!-- Home -->
    <section id="section1">
      <div id="home" class="bg">
        <div class="intro">
          <h1>Adrián Cho</h1>
          <h2 class="values">Logic Transparency Advancement</h2>
        </div>
      </div>
    </section>

  </main>

  <%- include("partials/footer.ejs") %>