<%- include("partials/header.ejs") %>

<main id="main">

  <!-- My Journey -->
  <section id="section2">
    <div id="tech-project-management" class="bg">
      <div class="container">
        <div class="job-title">
          <h2>Associate Engineer at Samsung SDSE</h2>
        </div>
        <div class="kanban-board">
          <div class="kanban-column">
            <h3 class="kanban-column-title">Projects <span class="number-of-tickets">3</span></h3>
            <div class="kanban-ticket">
              <div class="kanban-ticket-title">WhatsApp Channel Roll-Out for EU.</div>
              <div class="kanban-widgets">
                <div class="kanban-ticket-id">HP-1</div>
                <div class="kanban-ticket-icons">
                  <div class="ticket-icon">
                    <img src="./assets/images/tick-box.png" alt="tickbox-icon">
                  </div>
                  <div class="ticket-icon">
                    <img src="./assets/images/high-priority.svg" alt="high-priority-icon">
                  </div>
                  <div class="ticket-icon">
                    <div class="profile-icon">
                      <span class="user-initials">HC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kanban-ticket">
              <div class="kanban-ticket-title">Viber Channel Roll-Out for EU.</div>
              <div class="kanban-widgets">
                <div class="kanban-ticket-id">HP-1</div>
                <div class="kanban-ticket-icons">
                  <div class="ticket-icon">
                    <img src="./assets/images/tick-box.png" alt="tickbox-icon">
                  </div>
                  <div class="ticket-icon">
                    <img src="./assets/images/high-priority.svg" alt="high-priority-icon">
                  </div>
                  <div class="ticket-icon">
                    <div class="profile-icon">
                      <span class="user-initials">HC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kanban-ticket">
              <div class="kanban-ticket-title">Sprinklr Platform Feature Roll-Outs for EU and Globally.</div>
              <div class="kanban-widgets">
                <div class="kanban-ticket-id">HP-1</div>
                <div class="kanban-ticket-icons">
                  <div class="ticket-icon">
                    <img src="./assets/images/tick-box.png" alt="tickbox-icon">
                  </div>
                  <div class="ticket-icon">
                    <img src="./assets/images/high-priority.svg" alt="high-priority-icon">
                  </div>
                  <div class="ticket-icon">
                    <div class="profile-icon">
                      <span class="user-initials">HC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="kanban-column">
            <h3 class="kanban-column-title">Roles & Responsibilities <span class="number-of-tickets">2</span></h3>
            <div class="kanban-ticket">
              <div class="kanban-ticket-title">Business-as-usual and enhancement ticket manager for EU subsidiaries.</div>
              <div class="kanban-widgets">
                <div class="kanban-ticket-id">HP-1</div>
                <div class="kanban-ticket-icons">
                  <div class="ticket-icon">
                    <img src="./assets/images/tick-box.png" alt="tickbox-icon">
                  </div>
                  <div class="ticket-icon">
                    <img src="./assets/images/high-priority.svg" alt="high-priority-icon">
                  </div>
                  <div class="ticket-icon">
                    <div class="profile-icon">
                      <span class="user-initials">HC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kanban-ticket">
              <div class="kanban-ticket-title">European customer service operations consultant.</div>
              <div class="kanban-widgets">
                <div class="kanban-ticket-id">HP-1</div>
                <div class="kanban-ticket-icons">
                  <div class="ticket-icon">
                    <img src="./assets/images/tick-box.png" alt="tickbox-icon">
                  </div>
                  <div class="ticket-icon">
                    <img src="./assets/images/high-priority.svg" alt="high-priority-icon">
                  </div>
                  <div class="ticket-icon">
                    <div class="profile-icon">
                      <span class="user-initials">HC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="kanban-column">
            <h3 class="kanban-column-title">IN REVIEW <span class="number-of-tickets"></span>0</h3>
            
          </div>
          <div class="kanban-column">
            <h3 class="kanban-column-title">SKILLS <span class="number-of-tickets"></span>3</h3>
            <div class="kanban-ticket">
              <div class="kanban-ticket-title">Project Management tools:<br/>Jira, Asana</div>
              <div class="kanban-widgets">
                <div class="kanban-ticket-id">HP-1</div>
                <div class="kanban-ticket-icons">
                  <div class="ticket-icon">
                    <img src="./assets/images/tick-box.png" alt="tickbox-icon">
                  </div>
                  <div class="ticket-icon">
                    <img src="./assets/images/high-priority.svg" alt="high-priority-icon">
                  </div>
                  <div class="ticket-icon">
                    <div class="profile-icon">
                      <span class="user-initials">HC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kanban-ticket">
              <div class="kanban-ticket-title">CX management platform:<br/>Sprinklr</div>
              <div class="kanban-widgets">
                <div class="kanban-ticket-id">HP-1</div>
                <div class="kanban-ticket-icons">
                  <div class="ticket-icon">
                    <img src="./assets/images/tick-box.png" alt="tickbox-icon">
                  </div>
                  <div class="ticket-icon">
                    <img src="./assets/images/high-priority.svg" alt="high-priority-icon">
                  </div>
                  <div class="ticket-icon">
                    <div class="profile-icon">
                      <span class="user-initials">HC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kanban-ticket">
              <div class="kanban-ticket-title">CRM platform:<br/>SalesForce, Zendesk</div>
              <div class="kanban-widgets">
                <div class="kanban-ticket-id">HP-1</div>
                <div class="kanban-ticket-icons">
                  <div class="ticket-icon">
                    <img src="./assets/images/tick-box.png" alt="tickbox-icon">
                  </div>
                  <div class="ticket-icon">
                    <img src="./assets/images/high-priority.svg" alt="high-priority-icon">
                  </div>
                  <div class="ticket-icon">
                    <div class="profile-icon">
                      <span class="user-initials">HC</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>

<%- include("partials/footer.ejs") %>